• ft_atoi_base (like the one in the piscine)
• ft_list_push_front (like the one in the piscine)
• ft_list_size (like the one in the piscine)
• ft_list_sort (like the one in the piscine)
• ft_list_remove_if (like the one in the piscine)